.accordion {
    --accordion-open-animation-duration: 0.2s;
    --border-thickness: .05rem;
    margin-block: 1rem;
}

.accordion-item {
    border-block: 0.025rem solid;
    transition: border-top var(--accordion-open-animation-duration, 0) linear;
}

.accordion-item + .accordion-item {
    border-top: 0;
}
.accordion-header {
    position: relative;
    font-size: 1.1rem;
    font-weight: 600;
    height: 2.75rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    //border-block: 0.025rem solid;

    user-select: none;
    backdrop-filter: none;
    transition: backdrop-filter var(--accordion-open-animation-duration, 0) ease;
}



.accordion-header > * {
    height: 100%
}
.accordion-header-open {
    padding-inline: .5rem;
    flex-grow: 1;
}

.accordion-header-lock {
    font-size: 0.9rem;
}

.accordion-openIndicator {
    margin-inline: 1rem;
    transform: rotate(0deg);
    transition: transform var(--accordion-open-animation-duration, 0) ease;
}

.accordion--isOpen .accordion-openIndicator {
    transform: rotate(90deg);
}

.accordion-header:hover {
    backdrop-filter: brightness(125%);
    filter: brightness(115%);
    transition: backdrop-filter 0.1s ease;
}

.accordion-body {
    margin: 1rem .5rem;
    transition: height var(--accordion-open-animation-duration, 0) ease,
        margin var(--accordion-open-animation-duration, 0) ease;
}

.accordion-item:not(.accordion--isOpen) .accordion-body {
    margin: 0 .5rem;
    height: 0 !important;
    overflow: hidden;
}